body
  background: #111

ul
  overflow: hidden
  list-style: none
  margin: 3em auto

li
  position: relative
  display: inline-block
  -webkit-transform-style: preserve-3d
  perspective: 400
  -webkit-perspective: 400
  perspective-origin: 50% 25%
  -webkit-perspective-origin: 50% 25%
  -webkit-transition: margin .2s, z-index 0s

.left
  margin-right: -3.5em
  .image
    transform: rotateY(45deg)
    -webkit-transform: rotateY(45deg)
  .reflection
    -webkit-transform: rotateY(45deg) scaleY(-1)
    transform: rotateY(45deg) scaleY(-1)
.current
  margin: 0 2em
  z-index: 100
  .image
    top: 1em
    transform: none
    -webkit-transform: none
  .reflection
    -webkit-transform: scaleY(-1)
    transform: scaleY(-1)
.right
  margin-left: -3.5em
  .image
    transform: rotateY(-45deg)
    -webkit-transform: rotateY(-45deg)
  .reflection
    -webkit-transform: rotateY(-45deg) scaleY(-1)
    transform: rotateY(-45deg) scaleY(-1)

.image, .reflection
  -webkit-transition: -webkit-transform .6s, top .6s

.image
  position: relative
  z-index: 100

.reflection
  position: relative
  z-index: 1
.overlay
  background: rgba(0, 0, 0, 0.5)

